@font-face {
    font-family: halloweenFont;
    src: url(HappyHalloween.ttf);
}

body{
    margin: 0;
    background-color: #FCF3DB;
}

h1{
    font-family: halloweenFont;
    color: rgb(255, 255, 255);
}

h2{
    font-family: halloweenFont;
    color: #E1A46F;
    font-size: large;
    margin-top: 1rem;
}

#secret-pumpkin{
    border-radius: 2cap;
    margin: 1rem;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 30rem ;
    width: 48rem;
}

.answer-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(SecretBackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#password-input{
    border-radius: 1cap;
    height: 4rem;
    width: 18rem;
    padding: 0 1rem 0 1rem;
    font-family: halloweenFont;
    color: black;
    background-color: #FCF3DB;
    font-size: x-large;
    margin: 0 0 1rem 0;
}

#submit-initial{
    height: 3rem;
    width: 8rem;
    background-color: #E1A46F;
    font-family: halloweenFont;
    font-size: x-large;
    border-radius: 1cap;
    color: black;
}

.answer-four{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
}

.answer-fourth{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-items: center;
    height: 185px;
    width: 4rem;
    margin: 2rem;
}

.password{
    width: 2rem;
    height: 3rem;
}

.sub-image{
    width: 4rem;
    margin: 1rem;
}
