@font-face {
    font-family: halloweenFont;
    src: url(HappyHalloween.ttf);
}

body{
    margin: 0;
    background-image: url(pumpkin-pattern.png);
    background-repeat: repeat;
    background-size: 12rem;
}

h1{
    font-family: halloweenFont;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.01px rgb(0, 0, 0);
}

.title{
    background-image: url(orange-1.jpg);
    background-repeat: repeat;
    background-size: 8rem;
    display: flex;
    height: 8rem;
}

#title-header{
    margin-left: 5rem;
    font-size: 6rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

#secret-pumpkin{
    border-radius: 2cap;
    margin: 1rem;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18rem ;
    width: 48rem;
    background-image: url(Pumpkin.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    background-position: center;
    border-radius: 3cap;
    margin: 1rem;
}

.answer h1{
    font-size: 2.5rem;
}

.answer-container{
    display: flex;
    justify-content: center;
    padding: 12rem 0 12rem 0;
}

#password{
    border-radius: 1cap;
    height: 2rem;
    width: 18rem;
    padding: 0 1rem 0 1rem;
    font-family: halloweenFont;
    color: black;
    font-size: large;
    margin: 1rem;
}

#submit-initial{
    height: 3rem;
    width: 8rem;
    background-color: black;
    font-family: halloweenFont;
    font-size: x-large;
    color: rgb(255, 123, 0);
    border-radius: 1cap;
}

.submit-container{
    display: flex;
    justify-content: center;
}

#submit-secondary{
    height: 6rem;
    width: 24rem;
    background-color: black;
    font-family: halloweenFont;
    font-size: xx-large;
    color: rgb(255, 123, 0);
    border-radius: 1cap;
}

.password{
    width: 6rem;
    height: 4rem;
}